:root {
    --google-navigation--stroke-color: black;
    --google-navigation--background-color: white;
}

.google-navigation--button {
    position: absolute;
    top: 20px;
    left: -50px;
    border: 2px var(--google-navigation--stroke-color) solid;
    border-radius: 5px;
    background: var(--google-navigation--background-color);
    box-shadow: 0px 2px var(--google-navigation--stroke-color);
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 16pt;
    transition: all 0.1s linear;

    animation: spawn 0.2s;
}

.google-navigation--button.keydown {
    transform: scale(0.8, 0.8);
}

.google-navigation--switch {
    opacity: 0;
}

.google-navigation--switch.keydown {
    opacity: 1;
}

@keyframes spawn {
    from {
        transform: scale(0, 0);
    }
}