.google-navigation--button {
    position: absolute;
    /* top: 20px; */
    left: -50px;
    border: 2px black solid;
    border-radius: 5px;
    background: white;
    box-shadow: 0px 2px black;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 16pt;
    transition: all 0.1s linear;
}

.google-navigation--button.keydown {
    transform: scale(0.8, 0.8);
}